/* 鼠标样式 */
#cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  /* 这里改变跟随的底色 */
  background: rgb(57, 197, 187);
  border-radius: 8px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;
}

#cursor.hidden {
  opacity: 0;
}

#cursor.hover {
  opacity: 0.1;
  transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
}

#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

@font-face {
  font-family: 'LXGW WenKai'; /* 自定义字体名称 */
  src: url('/styles/LXGWWenKai-Regular.woff2') format('woff2'), /* 指定字体路径和格式 */
  font-weight: normal; /* 字体粗细，默认是normal */
  font-style: normal; /* 字体样式，默认是normal */
}

body {
  font-family: 'LXGW WenKai', serif; /* 使用自定义字体，如果未加载则使用serif作为备选 */
}
